body {
  background-color: #FBFBFB;
}

#view.transparent {
  background: initial;
}

#view canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.action-move {
  display: inline-block;
}

.switch {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 20px;
  width: 85px;
  height: 34px;
}

.switch div {
  color: gray;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 26px;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.btn {
  color: gray;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.btn:focus {
  outline: none;
}

#stop-button {
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
}

#current-location {
  right: 20px;
  bottom: 100px;
}

.expand {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100%;
}
.expand input {
  display: none;
}

.expand .btn {
  bottom: 0;
  right: 0;
  transition: right .4s;
}

.expand .btn1 {
  opacity: 1;
  z-index: 1001;
}

.expand .btn1 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand input:checked ~ .btn2 {
  right: 72%;
}

.expand input:checked ~ .btn3 {
  right: 48%;
}

.expand input:checked ~ .btn4 {
  right: 24%;
}

.touchme {
  animation: flash 1s linear infinite normal;
}

@keyframes flash {
  0% {
    border: 0px solid #2196F3;
    box-shadow: 0px 0px 0px 0px #2196F3;
  }
  80% {
    border: 2px solid rgba(33, 150, 243, 0.75);
    box-shadow: 0px 0px 0px 2px rgba(33, 150, 243, 0.75);
  }
  100% {
    border: 0px solid #2196F3;
    box-shadow: 0px 0px 0px 0px #2196F3;
  }
}

.pressed {
  border: 4px solid #2196F3;
}

#layerlist {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 6px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  z-index: 9999;
}

#layerlist > div {
  padding: 6px;
  margin-bottom: 3px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#layerlist input[type=checkbox] {
  margin-right: 8px;
}

#layerlist input[type=range] {
  margin-left: 28px;
  margin-right: 4px;
  height: 12px;
}

#layerlist input[type=range] ~ span {
  font-size: 12px;
}

#settings {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  z-index: 9999;
}

#settings > div:first-child {
  border-bottom: 1px solid gray;
  padding: 2px 8px;
  background-color: lightgray;
  border-radius: 5px 5px 0 0;
}

#settings > div:nth-child(2) {
  padding: 2px 10px;
}

#settings > div:nth-child(3) {
  margin-top: 10px;
}

#settings > div:last-child {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

#fov {
  width: 40px;
}

#popup {
  top: 20px;
  left: 4px;
  border: 1px solid gray;
  border-radius: 5px;
}

#popupbar {
  color: black;
  background-color: lightgray;
  border-radius: 5px 5px 0 0;
}

#closebtn {
  color: gray;
  background-color: lightgray;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 24px;
  width: 26px;
  height: 24px;
  border-radius: 5px;
}

#popupbody {
  border-radius: 0 0 5px 5px;
}

#pageinfo h1 {
  color: black;
  background-color: lightgray;
}

.accuracy {
  font-size: x-large;
}
