body { margin: 0; overflow: hidden; }
#webgl { background: linear-gradient(to bottom, #98c8f6 0%,#cbebff 40%,#f0f9ff 100%); }
#popup { background: rgba(255, 255, 255, 0.95); border: 1px solid gray; position: absolute; left: 3px; top: 3px; max-width: 480px; z-index: 9999; }
#popupbar { background: rgba(140, 140, 140, 0.7); font-size: 16px; text-align: right; padding: 2px; }
#popupcontent { border-top: 1px solid gray; padding: 0px 10px 15px; max-height: 500px; overflow: auto; }
#closebtn { background: rgba(140, 140, 140, 0.5); border: 1px solid gray; padding: 2px 8px; font-weight: bold; cursor: pointer; }
#urlbox { width: 100%; }
#footer { position: absolute; left: 5px; bottom: 5px; }
#infobtn { color: white; background: rgba(152, 200, 246, 0.8); border: solid 4px rgba(255, 255, 255, 0.8); border-radius: 20px; box-shadow: 0 0 0 2px rgba(152, 200, 246, 0.3); width: 24px; height: 24px; text-align: center; font-family: serif; font-weight: bold; font-size: 24px; cursor: pointer; }
#popup h1 { font-size: medium; font-weight: bold; margin: 5px; }
#popup ul { margin: 5px; margin-left: 20px; padding: 0px; }
.license { font-size: xx-small; }
.label { padding: 2px; text-shadow: 1px 1px #FFF, -1px 1px #FFF, 1px -1px #FFF, -1px -1px #FFF; position: absolute; pointer-events: none; }
