body {
  font-family: arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

#view {
  position: absolute;
  width: 100%;
  height: 100%;
}

#view.sky {
  background: -webkit-gradient(linear, left top, left bottom, from(#98c8f6), color-stop(0.4, #cbebff), to(#f0f9ff));
  background: linear-gradient(to bottom, #98c8f6 0%,#cbebff 40%,#f0f9ff 100%);
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.clickable {
  cursor: pointer;
}

.no-events {
  pointer-events: none;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

#bar {
  width: 0;
  height: 5px;
  background-color: #2196F3;
  opacity: 1;
}

#bar.fadeout {
  opacity: 0;
  height: 0;
  transition: all .4s;
}

#menubar {
  position: absolute;
  margin: 1px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
}

#menubar > div {
  background-color: white;
  float: left;
  width: 24px;
  height: 24px;
  padding: 6px;
  cursor: pointer;
}

#menubar > div:hover {
  background-color: #eee;
}

#menubar > div::before {
  opacity: 0.6;
}

#dropdown {
  position: absolute;
  top: 1px;
  left: 1px;
  min-width: 140px;

  display: none;
  background-color: white;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}

#dropdown a {
  display: block;
  color: black;
  padding: 10px 14px;
  text-decoration: none;
}

#dropdown a:hover {
  background-color: #eee;
}

#header {
  position: absolute;
  left: 5px;
  top: 5px;
}

#footer {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

/* popup */
#popup {
  position: absolute;
  left: 1px;
  top: 1px;
  max-width: 480px;
  min-width: 300px;
  z-index: 9999;
  background-color: white;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  display: none;
}

#popupbar {
  padding-left: 4px;
  height: 19px;
  border-bottom: 1px solid lightgray;
  border-radius: 3px 3px 0 0;
}

#closebtn {
  color: #ccc;
  padding: 2px;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  float: right;
  cursor: pointer;
}

#closebtn:hover {
  background-color: #eee;
}

#popupbody {
  padding: 0px 5px 5px;
  max-height: 500px;
  overflow: auto;
}

/* identify result */
#popupbody table {
  margin: 4px 0px;
  width: 100%;
}

#popupbody table caption {
  background-color: gray;
  color: white;
  font-size: small;
  padding: 1px 1px 1px 6px;
  text-align: left;
  vertical-align: bottom;
}

#popupbody table td {
  padding-left: 5px;
}

#qr_layername_table tr {
  background-color: #eee;
}

#qr_coords_table tr {
  background-color: #eee;
}

#qr_attrs_table tr:nth-child(odd) {
  background-color: #eee;
}

#qr_attrs_table tr td:first-child {
  width: 40%;
}

.action-zoom {
  cursor: pointer;
  float: right;
  padding: 0 1px 0;
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

.action-zoom:hover {
  background-color: #eee;
  border-radius: 3px;
  filter: none;
}

.action-btn {
  display: inline-block;
  border: 1px solid lightgray;
  cursor: pointer;
  font-size: small;
  padding: 2px 4px;
  margin-left: 2px;
}

.action-btn:hover {
  background-color: #eee;
}

/* pageinfo */
#pageinfo {
  font-size: small;
}

#pageinfo > h1 {
  background-color: gray;
  color: white;
  font-size: small;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 1px 1px 1px 6px;
}

#urlbox {
  width: 98%;
}

#usage, #about {
  margin-left: 5px;
}

#usage tr:nth-child(odd) {
  background-color: #eee;
}

#usage td.star {
  font-weight: bold;
}

#about ul {
  margin: 5px;
  margin-left: 20px;
  padding: 0px;
}

#about img {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.license {
  font-size: xx-small;
}

.download-link {
  display: block;
  border: 1px solid darkgray;
  background: lightgray;
  color: black;
  font-size: large;
  margin: 10px 50px 10px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

/* print dialog */
.print div {
  padding: 5px;
}

.print label {
  margin-left: 5px;
}

.print input[type="text"] {
  width: 40px;
  border: 1px solid lightgray;
  background: #F6F6F6;
  margin-left: 8px;
  margin-right: 8px;
}

.print input[type="checkbox"] {
  margin-left: 15px;
}

.print input[type="submit"] {
  display: none;
}

.print .buttonbox {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.print .buttonbox span {
  border: 1px solid darkgray;
  background: lightgray;
  margin: 0px 5px 0px;
  padding: 5px 10px 5px;
  cursor: pointer;
}

/* widgets */
#northarrow {
  position: absolute;
  left: 12px;
  bottom: 16px;
  width: 80px;
  height: 80px;
  z-index: 1000;
  pointer-events: none;
  display: none;
}

#navigation {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 128px;
  height: 128px;
  z-index: 1000;
  display: none;
}

/* animation */
#narrativebox {
  position: absolute;
  z-index: 1001;
  left: 5px;
  top: 5px;
  max-width: 40%;
  max-height: 80%;
  min-width: 200px;

  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  padding: 8px;
}

#narrativebox.ef1 {
  top: 90%;
  height: 0;
  opacity: 0;
}

#narrativebox.ef1.visible {
  transition: all ease-out .2s;

  top: 5px;
  height: auto;
  min-height: 200px;
  opacity: 1;
}

#narbody {
  width: 100%;
  height: 100%;
}

#narbody div{
  display: none;
}

#nextbtn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 48px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  border-radius: 4px;

  cursor: pointer;
}

#nextbtn:hover {
  background-color: #ddd;
}

/* images */
#menu:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyBjbGFzcz0ibGF5ZXIiPjxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxMiIgZD0iTTYgNTBoODhNNiAyMGg4OE02IDgwaDg4Ii8+PC9nPjwvc3ZnPg==");
}

.playbtn::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyBjbGFzcz0ibGF5ZXIiPjxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxNiIgZD0iTTg1IDUwIDIwIDg1VjE1bDY1IDM1eiIvPjwvZz48L3N2Zz4=");
}

.pausebtn::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyBjbGFzcz0ibGF5ZXIiPjxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxOCIgZD0iTTMwIDI1djUwTTcwIDI1djUwIi8+PC9nPjwvc3ZnPg==");
}

.zoombtn::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyBjbGFzcz0ibGF5ZXIiIHN0cm9rZT0iIzAwMCIgZmlsbD0ibm9uZSI+PGNpcmNsZSBjeD0iNDIiIGN5PSI0MiIgcj0iMzMiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iOCIvPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxNCIgZD0ibTY4IDY4IDE5IDE5Ii8+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjYiIGQ9Ik0yNyA0MWgzME00MiAyN3YzMCIvPjwvZz48L3N2Zz4=");
}
