#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#debug {
  background-color: rgba(0, 0, 0, 0);
  font-size: xx-small;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#fps {
  position: absolute;
  left: 5px;
  bottom: 20px;
  font-size: xx-small;
}

#cover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  z-index: 1001;
}

#cover img {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  -webkit-filter: grayscale(1);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

#msgbar {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #f0f8ff;
  border: 1px solid #8e998a;
}

#msgbar.warning {
  background-color: #ffc800;
}

#closemsgbar {
  float: right;
  color: #8e998a;
  margin: 4px 10px;
  line-height: 32px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}

#closemsgbar:hover {
  background-color: #ffdd33;
}

#msgcontent {
  padding: 8px;
}

#msgcontent ul {
  margin: 0 5px;
}

#testmarker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  pointer-events: none;
  z-index: 1001;
}
