*.py[co]
*.qm
*.orig
*.aux.xml
*.db
*.qgs~
*.qgs.qto3settings
*.log
*.zip
*.map
package-lock.json
pyrightconfig.json

.venv/
.venv-pyqt5/
.venv-pyqt6/
.vscode/
.env/
.env-pyqt5/
.env-pyqt6/
node_modules/
docs/build/
web/js/dist/
web/src/schema/
web/src/types/
tests/cache/
tests/output/
