body {
  margin: 0px;
}

#content {
  margin: 6px;
}

#header {
  width: 100%;
  background-color: lightgray;
  border: 1px solid gray;
  font-weight: bold;
  padding: 4px;
}

h1, h2 {
  padding-bottom: 4px;
  border-bottom: 1px solid gray;
}

code {
  padding: 2px 0px;
  background-color: #f4f4f4;
}
